$prepend-bg-color: #eee;
$border-color: #e0e0e0;
$primary-color: #4789c8;
$font-size: 16px;
$color-label: #555;
$small-font-size: 12px;
$input-bg-color: #fff;
$red: #F1453D;
$normal-padding: 16px 16px 15px;
$to-bottom-padding: 23px 16px 8px;
